body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

.contenedor {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px; /* Asegura que el contenedor crezca hasta 1200px */
    margin: 0 auto;
}

#botones-modulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.boton-modulo {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

    .boton-modulo:hover {
        background-color: #45a049;
    }

/* Asegurarse de que no haya recorte */
.botones-modulo::after {
    content: "";
    flex: auto;
}

/* Añadimos bordes temporales para pruebas */
.botones-modulo {
    border: 2px solid transparent;
    height: 315px;
}
